/* Layout */

body {
  background: silver;
  overflow-x: hidden;
  margin: 0;
}

main {
  width: 100vw;
  max-width: 100vw;
}

#stats {
  position: absolute;
  top: 15em;
}

.Container {
  display: flex;
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $secondarylightgrey;
    border-bottom: 4px solid $darkgrey;
    padding: 7px;

    .logo {
		margin-right: 100px;
		h1 { margin: 0;}
	}
		
	.mark {
		width: 70px;
		height: 60px;
		background-image: url("nasa_logo.png");
		background-repeat: no-repeat;
		background-size: auto 54px;

	}

    .sidebar-anchor {
      cursor: pointer;
    }
  }

  .sidebar-hide-button {
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 2em;
    border: 3px solid $darkgrey;
    padding: 0.5em;
  }
}

.sidebar-wrapper {
	background: $lightgrey;
	height: 100%;
}

.Controls {
  padding: 4.5em 1em 1em;
  min-width: 335px;
  display: flex;
  flex-direction: column;

	.handrails-selector, .route-select-control, .wingspan-control, .action-control {
		padding-bottom: 30px;
	}

  .route-select-control {
    margin-top: 2em;
  }
  
  .route-select-container {
  	margin-top: 10px;
  	display: flex;

  	label {
  		flex-grow: 1;
  	}
  }
  
  .wingspan-control {
  	padding: 0 12px;
  }
  
  .action-control {
    display: flex;
    justify-content: space-around;
    button {
      cursor: pointer;
    }
  }
  
  .file-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .handrails-selector {
  	margin-top: 20px;
    .Select:first-of-type {
      margin-bottom: 1em;
    }
  }
}

.results-header {
  padding-left: 0.5em;
}

.results {
  padding-left: 1em;
  overflow: auto;
  height: 50%;
}
